body {
    font-family: Arial, sans-serif;
    background-color: #4B6CC1;
    margin: 0;
    padding: 20px;
}

.survey-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #4B6CC1;
    padding: 20px;
    border-radius: 15px; /* More rounded corners for the container */
    color: white;
}

.question p {
    font-size: 1.5em; /* Increase the size of the question text */
    margin-bottom: 15px;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    padding: 7px 15px;
    border: 2px solid white;
    margin-right: 10px;
    margin-bottom: 10px; /* Add space below each button */
    border-radius: 15px; /* More rounded corners for buttons */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Align buttons in a grid */
}

.options input[type="radio"]:checked + label {
    background-color: white;
    color: #4B6CC1;
}

textarea {
    background-color: white; /* Change background to white */
    color: #4B6CC1; /* Change text color to match background */
    width: 100%;
    border: 2px solid white;
    border-radius: 15px; /* More rounded corners for textarea */
    margin-top: 15px;
    padding: 10px;
    font-size: 1em;
    background-color: #3A4C95;
    color: white;
}

.submit-container {
    text-align: center; /* Center submit button */
    margin-top: 20px;
}

.submit-btn {
    background-color: #ffffff;
    color: #4B6CC1;
    padding: 10px 20px;
    border: 2px solid #4B6CC1;
    border-radius: 20px; /* More rounded corners for submit button */
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    display: inline-block; /* Make button smaller and center it */
    text-align: center;
}

.submit-btn:hover {
    background-color: #4B6CC1; /* Same as the body background color */
    color: white;
    border: 2px solid white;
}

/* Additional style for the home button in the header */
.home-btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    top: 20px;
    right: 20px;
}


/* Ensure that labels wrap correctly for smaller screens */
@media screen and (max-width: 600px) {
    .options label {
        display: block;
        width: calc(100% - 20px); /* Full width minus padding */
    }
}
